/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



.card-logo {
     /* Ensures the image does not exceed its original size */
   width: 9rem !important;   /* Centers the image horizontally */
  }
  .navbar{
    /* border: 2px solid black !important; */
    margin-top: 30px;
    border-radius: 15px ;
    padding: 20px;
    background-color: #eefdf8;
  }
  .btn2{
     background-color: #18cc3f;
     width: 7rem;
     height: 60px;
     border: none;
  }
  .btn2:hover{
    background-color: #0BA15B;
  }
  
.home-cnt{
  margin-top: 8%;
  
}
.thiscnt{
  font-size: 50px;
}
.thatcnt{
  color: rgb(24,204,63);
}
.appplay img{
  width: 250px;
  
}
.appplay{
  gap: 20px;
  
}

main{
  margin-top: 7rem;
}

/* Add this CSS to your stylesheet or in a style tag in your component */

/* Add this CSS to your stylesheet or in a style tag in your component */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td .Bigt {
  text-align: center; /* Center align the content within cells */
  font-weight: 600;
  font-size: 80px;
}

/* Remove the left border for the first cell in each row */
.table tr td:first-child {
  border-left: 0 !important;
}

.table tr td:last-child {
  border-right: 0 !important;
}

/* Set line height for the divs inside the cells */
.table td > div {
  line-height: 80px !important; /* Adjust the line height as needed */
}


 

.custom-width {
  max-width: 500px;
  width: 100%; /* Ensure the width is responsive */
}
.custom-vouchers{
  height: 230px;
  width: 100%;
  max-width: 500px;
}


.error{
  color: red
}


.custom-width {
  max-width: 550px; /* Adjust the value to your preferred width */
  margin: 0 auto; /* Center the form horizontally */
}

.buttom-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}







.dashboard-container {
  display: flex;
  gap: px;
  width: 100%; 
  margin: 0 auto;
  justify-content: center;
  
}

.sidebar {
  width: 3  00px;
  background-color: rgb(255,255,255);
  color:#555;
  padding:     20px;
  font-weight: bolder;
}

.sidebar-option {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.sidebar-option:hover {
  color: rgb(81,175,113);
}

.sidebar-option.active {
  background-color:rgb(245,247,250);
  color: rgb(81,175,113);
  font-size: 20px;
  font-weight: bolder;
}

.content {
  flex: 1;
  padding: 20px;
  max-width: 70%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  
}

/* Modal Spinner Overlay */
.modal-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);/* Semi-transparent black background */
  z-index: 9999; /* Ensure the spinner is on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Spinner */
.modal-spinner {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Spinner Animation */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(24,152,29);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Spinner Text */
.spinner-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}




.contain {
  display: flex;
  align-items: stretch; /* Align items to stretch full height */
}

.left-side,
.right-side {
  flex: 1; /* Take equal width */
  padding: 20px; /* Optional: Add some padding */
}

.vertical-line {
  width: 2px;
  background-color: rgb(229,229,229); 
  margin: 0 20px; /* Optional: Add some space around the line */
}


.card,
.card__chip {
  overflow: hidden;
  position: relative;
}

.card,
.card__chip-texture,
.card__texture {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.card {
  animation-name: rotate_500;
  background-color: var(--primary);
  background-color: #000;
  border-radius: 0.5em;
  box-shadow: 0 0 0 hsl(0,0%,80%),
        0 0 0 hsl(0,0%,100%),
        -0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
  color: hsl(0,0%,100%);
  width: 23.3em;
  height: 13.8em;
  transform: translate3d(0,0,0);
  box-shadow: #000;
}

.card__info,
.card__chip-texture,
.card__texture {
  position: absolute;
}

.card__chip-texture,
.card__texture {
  animation-name: texture;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
}

.card__info {
  font: 0.75em/1 "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.75rem;
  inset: 0;
}

.card__logo,
.card__number {
  width: 100%;
}

.card__logo {
  font-weight: bold;
  font-style: italic;
}

.card__chip {
  background-image: linear-gradient(hsl(0,0%,70%),hsl(0,0%,80%));
  border-radius: 0.2rem;
  box-shadow: 0 0 0 0.05rem hsla(0,0%,0%,0.5) inset;
  width: 1.25rem;
  height: 1.25rem;
  transform: translate3d(0,0,0);
}

.card__chip-lines {
  width: 100%;
  height: auto;
}

.card__chip-texture {
  background-image: linear-gradient(-80deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0.6) 48% 52%,hsla(0,0%,100%,0));
}

.card__type {
  align-self: flex-end;
  margin-left: auto;
}

.card__digit-group,
.card__exp-date,
.card__name {
  background: linear-gradient(hsl(0,0%,100%),hsl(0,0%,85%) 15% 55%,hsl(0,0%,70%) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Courier Prime", monospace;
  filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
}

.card__number {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.card__valid-thru,
.card__name {
  text-transform: uppercase;
}

.card__valid-thru,
.card__exp-date {
  margin-bottom: 0.25rem;
  width: 50%;
}

.card__valid-thru {
  font-size: 0.3rem;
  padding-right: 0.25rem;
  text-align: right;
}

.card__exp-date,
.card__name {
  font-size: 0.6rem;
}

.card__exp-date {
  padding-left: 0.25rem;
}

.card__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 6.25rem;
}

.card__vendor,
.card__vendor:before,
.card__vendor:after {
  position: absolute;
}

.card__vendor {
  right: 0.375rem;
  bottom: 0.375rem;
  width: 2.55rem;
  height: 1.5rem;
}

.card__vendor:before,
.card__vendor:after {
  border-radius: 50%;
  content: "";
  display: block;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.card__vendor:before {
  background-color: #e71d1a;
  left: 0;
}

.card__vendor:after {
  background-color: #fa5e03;
  box-shadow: -1.05rem 0 0 #f59d1a inset;
  right: 0;
}

.card__vendor-sr {
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.card__texture {
  animation-name: texture;
  background-image: linear-gradient(-80deg,hsla(0,0%,100%,0.3) 25%,hsla(0,0%,100%,0) 45%);
}
 
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,30%);
    --fg: hsl(var(--hue),10%,90%);
  }
}

/* Animation */
@keyframes rotate_500 {
  from,
    to {
    animation-timing-function: ease-in;
    box-shadow: 0 0 0 hsl(0,0%,80%),
            0.1rem 0 0 hsl(0,0%,100%),
            -0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);
    transform: rotateY(-10deg);
  }

  25%,
    75% {
    animation-timing-function: ease-out;
    box-shadow: 0 0 0 hsl(0,0%,80%),
            0 0 0 hsl(0,0%,100%),
            -0.25rem -0.05rem 1rem 0.15rem hsla(0,0%,0%,0.3);
    transform: rotateY(0deg);
  }

  50% {
    animation-timing-function: ease-in;
    box-shadow: -0.1rem 0 0 hsl(0,0%,80%),
            0 0 0 hsl(0,0%,100%),
            -0.3rem -0.1rem 1.5rem 0.3rem hsla(0,0%,0%,0.3);
    transform: rotateY(10deg);
  }
}

@keyframes texture {
  from,
    to {
    transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(-50%,0,0);
  }
}                








